:root {
  --gray-color: #616161;
  --light-black-color: #2b2b2b;
  --wheat-color: #f5f5f5;
  --lighter-gray-color: #f2f2f2;
  --light-gray-color: #9f9f9f;
  --blue-color: #175bc0;
  --light-blue-color: #d8e7ff;
  --lighter-blue-color: #3c86f4;
  --transparent-blue-color: #3c86f426;
  --purple-color: #9747ff;
  --light-purple-color: #e8d7ff;
  --orange-color: #ea8c00;
  --light-orange-color: #ffecc7;
  --green-color: #639462;
  --light-green-color: #e2f6e2;
  --font-size: 16px;
}
